@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
  font-family: Monton;
  src: url('https://fonts.googleapis.com/css?family=Monoton&display=swap')
}

@font-face {
  font-family: Slabo;
  src: url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap')
}
